body {
  background-color: grey;
  text-transform: capitalize;
}

.details {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.img1 {
  height: 400px;
}

.words {
  margin-left: 50px;
}
