.commentform > button {
  margin: auto;
  color: darkred;
  background-color: azure;
}
.commentform {
  display: flex;
  justify-content: "center";
  align-items: "center";
  flex-direction: column;
}
.commentform > input {
  height: 10rem;
  padding-bottom: 9rem;
}
